* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 100%;
  margin: 20px 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-image:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .gallery-image {
    width: 150px;
    margin: 20px;
  }
}
