* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/Bgc-landing-page.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  line-height: 1.8;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.main-header {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-heading {
  font-size: 3em;
  margin-bottom: 10px;
  color: #fdfdfd;
  text-shadow: 30px 30px 200px rgba(200, 255, 255, 0.8);
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #eee7e7 50%, #e41e1e 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.move-to-btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #000000;
  background: linear-gradient(to right, #e41e1e 50%, #eee7e7 50%);
  color: black;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.move-to-btn:hover {
  background: #e41e1e;
}

@media (min-width: 600px) {
  .landing-heading {
    font-size: 4em;
    margin-bottom: 20px;
  }
}
