* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: rgb(255, 236, 202);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

canvas {
  display: flex;
  border: 5px solid #fff2ba;
  background-color: #fff;
  margin-inline-end: 800px;
}

.canvas-container {
  display: none;
}

.meme-canvas {
  padding: 20px;
}

footer {
  padding: 12px;
  background-color: #ffc445;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

#text-input {
  padding: 8px;
  border: 1px solid #d1b229;
  border-radius: 4px;
  box-sizing: border-box;
}

nav {
  background-color: #ffffff;
  padding: 10px 0;
}

nav a {
  margin: 5px;
  color: orange;
  text-decoration: none;
  padding: 0 20px;
}

nav a.active {
  font-weight: bold;
}

.logo-img {
  width: 500px;
  height: auto;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffc445;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffd56e;
}

a.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc445;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a.download-link:hover {
  background-color: #ffd56e;
}

.social-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.social-icons button i {
  font-size: 24px;
}

.social-icons button i.fa-facebook-f {
  color: #3b5998;
}

.social-icons button i.fa-twitter {
  color: #1da1f2;
}

.social-icons button i.fa-behance {
  color: #1769ff;
}
.social-icons button:hover {
  background-color: #f0bf39;
}

#color-input {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #ecc149;
}

@media (max-width: 600px) {
  body {
    font-size: 13px;
  }

  .logo-img {
    width: 300px;
  }

  nav {
    padding: 10px;
  }

  nav a {
    padding: 0 8px;
  }
}
