* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(255, 236, 202);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  margin-left: 20px;
}

.logo-img {
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 5px;
}

nav a {
  color: orange;
  text-decoration: none;
  padding: 0 20px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  color: orange;
}

canvas {
  border: 5px solid #fff2ba;
  background-color: #fff;
  width: 500px;
  height: 500px;
}

.meme-canvas {
  padding: 20px;
}

footer {
  padding: 12px;
  background-color: #ffc445;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

#text-input {
  padding: 8px;
  border: 1px solid #d1b229;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #ffc445;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffd56e;
}

a.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc445;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a.download-link:hover {
  background-color: #ffd56e;
}

.social-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.social-icons button i {
  font-size: 24px;
}

.social-icons button i.fa-facebook-f {
  color: #3b5998;
}

.social-icons button i.fa-twitter {
  color: #1da1f2;
}

.social-icons button i.fa-behance {
  color: #1769ff;
}

.social-icons button:hover {
  background-color: #f0bf39;
}

#color-input {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #ecc149;
}

@media (max-width: 600px) {
  body {
    font-size: 13px;
  }

  .logo-img {
    width: 100px;
  }

  nav {
    padding: 10px;
  }

  nav a {
    padding: 0 8px;
  }
}
