* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #040a2c;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 237, 214);
}

a,
a:focus,
a:visited,
a:active {
  cursor: pointer;
  color: initial;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* HEADER */
.main-header {
  background-color: #ff7f00;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  margin-left: 20px;
}

.logo-img {
  width: 100px;
  height: auto;
  transition: all 0.2s;
}

.logo-img:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 5px;
}

canvas {
  border: 5px solid #fff2ba;
  background-color: #fff;
  width: 90%;
  height: auto;
  max-width: 90vw;
}

.meme-canvas {
  padding: 20px;
}

/* Mobile menu */
.mobile-menu {
  display: none;
}

.menu-btn {
  display: none;
}

@media (max-width: 600px) {
  .mobile-menu {
    display: block;
  }

  .menu-btn {
    display: block;
  }

  nav ul {
    display: none;
  }
}

/* CANVAS CONTAINER */
.canvas-container {
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  margin: 15px auto;
  box-shadow: 0px 0px 20px -2px #999;
}

.canvas-container {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

/* GALLERY */
.gallery-container {
  justify-content: center;
  align-content: center;
  background-color: antiquewhite;
  display: absolute;
  margin: 20px 0 100px 10%;
  transition: opacity 0.2s;
}

.gallery-container img {
  cursor: pointer;
  width: 80%;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
  box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.3);
}

.about-section {
  margin-bottom: 10px;
  border-top: 2px solid orange;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.about-section .my-img img {
  width: 20%;
  border-radius: 10%;
}

.about-section .about-me .about-name {
  font-weight: 1000;
  font-size: 30px;
}

.about-section .about-social a {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 12px;
  transition: color 0.2s;
}
.about-section .about-social a:hover {
  color: orange;
}
/* Footer */
.main-footer {
  background-color: #ff7f00;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box; 
}

.footer-logo {
  margin-bottom: 0.5rem;
}

.footer-logo img {
  width: 100px; 
  height: auto;
}

.main-footer p {
  margin: 0;
}

.main-footer p::before {
  padding-right: 0.25rem;
}
